body {
    padding: 40px;
}

#resume-container h2, #resume-container h3 {
    color: #900;
    font-weight: bold;
}

#resume-container h2 {
    font-size: 1.6em;
}

#resume-container h3 {
    font-size: 1.3em;
    text-transform: capitalize;
}

#resume-skills-control {
    margin-bottom: 10px;
}

#resume-skills-control .category-toggle {
    font-size: 16px;
    margin-right: 8px;
}

#resume-skills-control .category-toggle input {
    display:none;
}

#resume-skills-control .category-toggle label {
    cursor: pointer;
}

#resume-skills-control .category-toggle .glyphicon {
    color: #900;
    padding-right: 2px;
}

#resume-skills-control .category-toggle.disabled .glyphicon {
    color: #ddd;
}

#resume-skills th, #resume-skills td {
    border-top: 0;
}

#resume-skills tr.category-border th {
    border-bottom: 2px solid #ddd;
    color: #900;
    font-size: 1.3em;
}

#resume-skills th small {
    font-style: italic;
    font-weight: normal;
}

#resume-skills .proficiency-cell {
    width: 10.5em;
}

.proficiency-filled, .proficiency-empty {
    font-size: 48px;
    line-height: 4px;
    vertical-align: middle;
    width: 13em;
}

.proficiency-empty {
    color: #ddd;
}

.proficiency-filled {
    color: #900;
}

.activities-container h3 {
    border-bottom: 2px solid #DDD;
}

.chart-container {
    overflow: hidden;
}