<footer class="container">
    <h4>{{ site.title }}</h4>
    <div class="row">
        <div class="col-xs-3">
            <p>
                {{ site.title }}<br />
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
        </div>
        <div class="col-xs-3">
            <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
            <br />
            <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
        </div>
        <div class="col-xs-6">
            <p>{{ site.description }}</p>
        </div>
    </div>
</footer>
